  <body>
  <h1 class="text-center">Menu</h1><br><br>
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item btn btn-success">
        <a class="nav-link" routerLinkActive="actif" routerLink="/presentation">Presentation</a>
    </li>
    <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/listeactivites">Liste des Activitées</a>
    </li>
    <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/aboutus">A propos de Nous</a>
    </li>
    <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/participate">Participer a une activitée</a>
    </li>
    <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/apiweather">Consulter une API</a>
    </li>
  </ul><br><br>
<h2 >Bienvenue à notre club :<br><br> Le club de l'environnement</h2>

</body>
<!-- 
<div id="haut">ici</div>

  
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>     -->
<!-- <a id="down-arrow" href="#kali-highlights"><div></div></a> -->
