  <h1 class="text-center">Menu</h1>
<ul class="nav nav-tabs justify-content-center ">
    <li class="nav-item btn btn-success">
        <a class="nav-link" routerLinkActive="actif" routerLink="/presentation">Presentation</a>
    </li>
    <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/listeactivites">Liste des Activitées</a>
    </li>
    <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/aboutus">A propos de Nous</a>
  <li class="nav-item btn btn-success">
      <a class="nav-link"  routerLinkActive="actif" routerLink="register">Creer un compte</a>
  </li>
  </ul>
