<br><h1 class="text-center" >Nos Activitées</h1>
<div> 
  <input type="text" class="form-control" placeholder="Rechercher une activitée par titre" [(ngModel)]="searchTerm" ><br>
  <input type="text" class="form-control" placeholder="Rechercher une activitée par ID OU par Date" style="width: 450px;height: 40px;" #search><br> 
  <button class="btn btn-info" (click)="Rcherchecombine(search.value)">Cliquer ici pour rechercher par ID !</button>
</div>
  <form class="container" >
    <div class="row">
      <div  *ngFor="let activite of lesactivites|activityFilter:searchTerm;index as i" class="card col-md-6 text-center my-3 p " >
         <ng-container  *ngIf="!trouve">
          <app-activite [activite]="activite"></app-activite>
         </ng-container>
      </div>
      <ng-container *ngIf="trouve">
        <app-activite   [activite]="Search" style="border: 2px solid #007bff; padding: 20px; text-align: center; margin-top:0px ; position: relative;display: block; top: 0; " class="card "></app-activite>
      </ng-container>
    </div>
  </form>


