<div class="container">
<form [formGroup]="activitesForm" (ngSubmit)="onSubmitForm()" class="p-2 bg-light rounded text-center">
    <label for="nouvelId">id</label>
    <input type="number" id="nouvelId"formControlName="id">
    <br>
    <label for="titre">titre</label>
    <input type="text"  formControlName="titre">
    <br>
    <label for="image">image</label>
    <input type="text"  formControlName="image">
    <br>
    <label for="eval">Nb likes</label>
    <input type="text" formControlName="nblikes">
    <br>
    <label for="dispo">disponible</label>
    <input type="text" formControlName="disponible" >
    <br>
    <label for="date">date</label>
    <input type="date" formControlName="date">
    <br>
    <div class="p-2 bg-light rounded" formGroupName="details" >
        <h2><strong>Details</strong></h2>
        <br>
        <label for="itervenant">intervenant</label>
        <input type="text" formControlName="intervenant">
        <br>
        <label for="endroit">endroit</label>
        <input type="text"  formControlName="endroit">
        <br>
        <label for="prerequis">prerequis</label>
        <input type="text"  formControlName="prerequis">
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Ajouter">
    <input type="button" class="btn btn-danger" (click)="onResetForm()" value="Effacer">
</form>
</div>
<!-- <button (click)="onajouter()">Ajouter une nouvelle activité</button> -->

<!-- <button (click)="ajouter(id.value,titre.value,image.value,evaluation.value,disponible.value,date.value,[itervenant.value,endroit.value,prerequis.value])">Ajouter</button> -->


<!-- <button (click)="ajouter(id.value, titre.value, image.value, evaluation.value, disponible.value, date.value, itervenant.value, endroit.value, prerequis.value)">Ajouter</button>
 -->




















<!-- <h1>Ajouter une activité</h1>
<label for="">id : </label>
<input type="number" #id>
<label for="">titre : </label>
<input type="text" #titre>
<label for="">image : </label>
<input type="text" #image>
<label for="">evaluation : </label>
<input type="text" #eval>
<label for="">disponible : </label>
<input type="text" #dispo>
<label for="">date : </label>
<input type="date" #date>
<label for="">details : </label>
<label for="">itervenant : </label>
<input type="text" #itervenant>
<label for="">endroit : </label>
<input type="text" #endroit>
<label for="">prerequis : </label>
<input type="text" #prerequis>
<button (click)="ajouter(id.value,titre.value,image.value,eval.value,dispo.value,date.value,itervenant.value,endroit.value,prerequis.value)"></button>
 -->




















<!-- <form #activitesForm="ngForm">
<div class="panel panel-primary" >
    <div class="panel-heading">
        <h1 class="panel-title">Ajouter une activitée</h1>
    </div>
    <div class="panel-body">
    <div class="form-group">
        <label for="titre">Le titre</label>
        <input id="titre" name="ti" [(ngModel)]="titre" type="text" class="form-control">
    </div>   
    <div class="form-group">
        <label for="img">L'image'</label>
        <input id="img" type="" class="form-control">
    </div>    
    <div class="form-group">
        <label for="titre">Le titre</label>
        <input id="titre" type="text" class="form-control">
    </div>  
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</div>
</div>
</form>
{{activitesForm.value|json}} -->


