<!-- <form class="row g-3">
    <div class="col-md-6">
      <label  class="form-label">Nom</label>
      <input type="text" class="form-control" #nom>
    </div>
    <div class="col-md-6">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control" #pwd>
    </div>
</form> -->
  <table>
    <tr colspan='2'><h2>Quelques Informations</h2></tr>
    <tr>
        <th >Club liker : </th>
        <td [ngClass]="{'c1':aimermenu==true,'c2':aimermenu==false}"></td>
    </tr>
  </table>

