<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Mot de pasee oublié</h2>
          <div class="form-group">
            <label for="pwd">Nouveau mot de passe</label>
            <input type="password" id="pwd" name="pwd" #pwdnouveau1 class="form-control" required>
            <label for="pwd">Confirmer le mot de passe</label>
            <input type="password" id="pwd" name="pwd" #pwdnouveau2 class="form-control" required>         
          </div>
          <div class="mt-3 ">
            <button type="button" class="btn btn-primary" (click)="reset(pwdnouveau1.value,pwdnouveau2.value)">Changer</button><br><br>
            <button type="button" class="btn btn-danger"  (click)="cancel(pwdnouveau1.value,pwdnouveau2.value)">Annuler</button>
          </div>
      </div>
    </div>
  </div>
  

