<br><h1 class="text-center" >Nos Activitées</h1>
<div> 
  <input type="text" class="form-control" placeholder="Rechercher une activitée par titre" [(ngModel)]="searchTerm">
</div>
  <div class="container">
    <div class="row">
      <div  *ngFor="let activite of lesactivites|activityFilter:searchTerm;index as i" class="card col-md-6 text-center my-3 p " >
            <div class="card-header">
              <h1 >Activitée numéro {{activite.id}}</h1>
            </div>
            <div class="card-body">
              <h2 >{{activite.titre }}</h2>
              <img [src]="activite.image" alt="{{activite.titre}}"><br>
            </div>
          <div class="card-footer" >            
            <div  class="bg bg-dark text-white rounded-pill">Date de l'activitée: {{activite.date|date:'dd-MM-yyyy'}}</div>
          </div> 
          <button class="badge rounded-pill bg bg-secondary"> <a class="text-white nav-link" [routerLink]="['/details',activite.id]">Consulter l'activité</a> </button>
          <app-supprimeractivite  [activite]="activite" (onSupprimerEvent)="onsupprimer($event)"></app-supprimeractivite>
          <button class="badge rounded-pill bg bg-success" [routerLink]="['/update',activite.id]">Modifier cette activité</button>
          <button class="badge rounded-pill btn btn-infos nav-link" ><a [routerLink]="['/comments',activite.id]">Afficher les commentaire</a></button>   
        </div>
    </div>
</div>

