<body>
<div class="container" >
  <img src="../../../assets/logo.jpg" alt=""><br>
  <h2><strong>Authentification à l'application</strong></h2>
  <form [formGroup]="loginForm">
  <div class="mb-3 mt-3">
    <label  class="form-label" >Nom d'utilisateur: </label>
    <input type="text" id="id01" class="form-control" placeholder="Introduisez votre nom d'utilisateur " formControlName="name" #name>
  </div>
  <div *ngIf="nom?.invalid && nom?.dirty" class="alert alert-danger">
    Nom invalide !
  </div>

  <div class="mb-3">
    <label class="form-label">Mot de passe:</label>
    <input type="password" id="id01" class="form-control" placeholder="Introduisez votre mot de passe " formControlName="mdp" #pwd>
  </div>
  <div *ngIf="password?.invalid && password?.dirty" class="alert alert-danger">
    Mot de passe incorrect !
  </div>


  <input type="submit" value="valider" (click)="onauthentifier(name.value,pwd.value)" class="btn btn-primary">
  <div class="mt-3" style="background-color:#f1f1f1">
  <span>Mot de passe oublié ?<a routerLink="/forgetpwd">Changer le mot de passe</a></span>
  </div>
  <br>
  <button routerLink="/menu" class="btn btn-secondary">Retourner au menu</button>
</form>
</div>
</body>
