<div class="container">
    <div class="list-group">
        <h1 class="list-group-header text-center">
            Quelques Informations sur l'activitée : <div class="mt-4">{{activite.titre}}</div> 
        </h1>
        <div class="text-center card">
            <div class="card-header">
                <h2>Date prévue pour l'activité:</h2><h3>{{activite.date|date:'dd/MM/YYYY'}}</h3>
            </div>
            <div class="card-body">
                <h2>Disponibilité : <div class="align-photo" [ngClass]="activite.disponible?'c1':'c2'"> </div> </h2>    
                <h2>Nombre de likes : </h2>
                <h3>{{activite.nblikes}}</h3>
                <h2>Club aimé par l'utilisateur :</h2>
                <h3 class="align-photo" [ngClass]="{'c1':aimermenu==true,'c2':aimermenu==false}"></h3>
                <h2>les commentaires de cette activitée:</h2>
                <div class="card-body" *ngFor="let c of activite.comments,index as i">
                    <label>Commentaire n°</label>{{i+1}}
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Message</th>
                        </tr>
                        <tr>
                            <td>{{c.nom}}</td>
                            <td>
                                {{c.prenom}}
                            </td>
                            <td>
                                {{c.message}}
                            </td>
                        </tr>
                    </table>
                    <!-- <label>Commentaire n°</label>{{i+1}}
                    <pre>
                    <label>Nom :</label> 
                    <input type="text" [value]="c.nom" readonly>
                    <label>Prenom :</label> 
                    <input type="text" [value]="c.prenom" readonly>
                    <label>Commentaire :</label> 
                    <input type="text" [value]="c.message" readonly> 
                </pre>-->
                </div>
            </div>
            <div class="card-footer">
                <h2>Ajouter un commentaire</h2>
                <router-outlet></router-outlet>
            </div>                
        </div>
    </div>
</div>

