<div class="container">
    <div class="list-group">
        <h1 class="list-group-header text-center">
            Quelques Informations sur chaque activitée
        </h1>
        <table>
        <div *ngFor="let activite of lesactivites" class="list-group-item text-center" >
            <tr>
                <th colspan='3'>{{activite.titre}}</th>
            </tr>
            <tr>
                <td>Disponibilité : <div class="" [ngClass]="activite.disponible?'c1':'c2'"> </div> </td>    
                <td>Nombre de likes : </td>    
                <!-- <td>Disponibilité : <div class="text-center" [ngClass]="activite.disponible?'c1':'c2'"> </div> </td>     -->
            
            </tr>
        </div>
        </table>
    </div>
</div>
