.c1{
    background-image: url('../../../assets/true.jpg');
    width: 50px;
    height: 50px;
    background-size: cover;
}

.c2{
    background-image: url('../../../assets/false.jpg');
    width: 50px;
    height: 50px;
    background-size: cover;

}

h1{
    margin-top: 50px;
    font-size: 40px;
}

 .align-photo{
    margin-left:600px;
 }

 h1 div{
    color: green;
    font-style: italic;
    text-decoration: underline;
 }
 .donnees{
    margin-left: 50px;
 }
table,tr,th,td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}
table{
    margin-left: 510px;
}



label {
    display: block;
    margin-bottom: 5px;
    font-size:large;
    font-weight: bold;
    font-style: italic;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="button"] {
    padding: 8px;
    margin: 8px;
  }