.example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar.green {
  background-color: green;
  color: white;
}

ul{
 text-align: center;
}

/* h1{
  background-color: rgb(59, 186, 63);
   /* margin-bottom: 0;  
  /* padding: 15px;  
  color: white;
  /* font-size: 42px; 
  font-family:cursive ;
}  */
a{
  color: black;
  border-radius: 20px;
  margin-top: 200px;
}


.body{
  background-image: url("../../../assets/blur-nature-green-park-with-bokeh-sun-light-abstract-background-copy-space-travel-adventure-environment-concept-vintage-tone-filter-color-style_1253-1107.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  transform: translateX(-280px);
 
}

li{
  padding: 5px;
}

@keyframes anima1 {
  0%{
    transform:scale(0.5);
  }

  50%{
    transform: scale(1.5);
  }

  100%{
    transform:scale(1);
  }
}

@keyframes anima2 {
  0%{
    transform: translateX(-50px) translateY(-50px);
  }
  50%{
    transform: translateX(-100px);
  }
 80%{
    transform: translateX(50px);
  }
  100%{
    transform: translateX(-50px);
  }
}

.usertext{
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0,5);
  text-shadow: 2px 2px gray;
  margin-top: 300px;
}

.user{
  border: 1px solid black;
  width: 300px;
  height:400px;
  border-radius: 5px;
  background-image: url('../../../assets/user.jpg');
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0,5);
}

.admintext{
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0,5);
  text-shadow: 2px 2px gray;
  margin-top: 300px;
  margin-right: -100px;
}

.admin{
  border: 1px solid black;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0,5);
  background-image: url('../../../assets/admin.png');
  background-size: cover;
  background-position: center;
  background-size: 300px;
  background-repeat: no-repeat;
  margin: 50px;
  background-color: white;
}

div.userpart:hover{
  animation: anima1 2s ease-in-out forwards;
}

div.adminpart:hover{
  animation: anima1 2s ease-in-out forwards;
}



div{
  display: flex;
  align-items: center;
  font-size: x-large;
  justify-content: center; 
}

p a{
  color: white;
}

.userpart{
  margin-bottom: 500px;
  /* width: 500px; */
  margin-top: 200px;

}

.adminpart{
  margin-bottom: 500px;
  margin-top: 200px;

}