<mat-toolbar class="green">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Club de l'environnement</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div>
    <div class="user">
      <a routerLink="/user" class="nav-link">Espace Utilisateur</a>
    </div>

    <div class="admin">
      <a routerLink="/connexion" class="nav-link">Espace Administrateur</a>
    </div>
  </div>
  





<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header"></div>
                        <div class="card-body">  </div>              
                        <div class="card-footer  ">     </div>
                    </div>
        </div>    -->




