<mat-toolbar class="green">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Club de l'environnement</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="calculernblike()">
    <mat-icon  matBadge={{nblikes}}  >favorite</mat-icon>
  </button>
  <button  (click)="afficher()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
    <mat-icon>share</mat-icon>
  </button>
  <select *ngIf="showlist" [(ngModel)]="selectedOption" >
    <option value="facebook">Facebook</option>
    <option value="messenger">Messenger</option>
    <option value="mail"><a href="">Mail</a></option>
  
  </select>
  <div *ngIf="selectedOption === 'facebook'" >
    <p><a href="https://www.facebook.com/sharer/sharer.php?u=#url" >Lien pour Facebook</a></p>
  </div>
    <div *ngIf="selectedOption === 'messenger'">
    <p><a href="https://www.messenger.com/?locale=fr_FR">Lien pour Messenger </a></p>
  </div>
  <div *ngIf="selectedOption === 'mail'">
    <p><a href="https://www.google.com/intl/fr/gmail/about/">Lien pour Gmail</a></p>
</div>
</mat-toolbar>
<div class="body">
  <div class="menu">
    
    <div class="userpart">
      <div class="user"></div>
      <a routerLink="/user" class="nav-link">    
        <div class="usertext">Espace Utilisateur</div>
      </a>
    </div>

    <div class="adminpart">
      <div class="admin"></div><br>
      <a routerLink="/connexion" class="nav-link">
        <div class="admintext">Espace Administrateur</div>
      </a>
    </div>

  </div>
</div>
 



