<body>
<div>
    <h1 class="text-center">Espace Administrateur</h1>
    <ul class=" justify-content-center">
      <li class="btn btn-success">
        <a class="nav-link" routerLinkActive="actif"  routerLink="/add">Ajouter une activité</a>
      </li>
      <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/update">Modifier une activité</a>
      </li>
      <li class="nav-item btn btn-success">
          <a class="nav-link"  routerLinkActive="actif" routerLink="/participate">Demandes de Participations</a>
      </li>
      <li class="nav-item btn btn-success">
        <a class="nav-link"  routerLinkActive="actif" routerLink="/lesactivites">Liste des activites</a>
    </li>
      </ul>
</div>
<button class="btn btn-info" routerLink="/connexion" (click)="logout()">Déconnexion</button>
</body>