.c1{
  background-image: url('../../../assets/true.jpg'); 
  background-size: cover;
  width: 50px;
  height: 50px;
}

.c2{
  background-size: cover;
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/false.jpg');
}

table,th,tr{
  border: 1px solid black;
}

table{
  margin: 50px;
  padding: 50px;
  align-items: center;
  margin-left: auto;
margin-right: auto;
}
th,td{
  text-align: center;
}

li{
  margin: 50px;
}

body{
  background-image: url('../../../assets/adminimg.jpg');
  background-size:cover
}

div {
  position: absolute;
  border-radius: 20px;
  margin-left: 350px;
  top: 150px;
  background-color: #708238;
  border: 1px solid black;
}
h1{
  padding: 10px;
  color: black;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li{
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;

}

button{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin: 450px 850px;
}