form {
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* margin-top: 1; */
  }
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    background-color: gray; /* Optional background color */
}

.container {
    text-align: center;
}


  label {
    display: block;
    margin-bottom: 5px;
    font-size:large;
    font-weight: bold;
    font-style: italic;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="button"] {
    padding: 8px;
    margin: 8px;
  }