<body>
<div class="container">
    <form class="p-2 bg-light rounded text-center" #commentaireForm>
        <h1>Entrez votre nom et votre prénom ainsi que votre commentaire ici</h1>

        <label for="nom">Nom:</label>
        <input type="text" id="nom" #nom placeholder="donner votre nom...">
    
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" #prenom placeholder="donner votre prenom...">
    
        <label for="msg">Message:</label>
        <input type="text" id="msg" #msg placeholder="donner votre commentaire..."><br>
    
        <input type="button" value="Ajouter" class="btn btn-info" (click)="onAjouter(nom.value,prenom.value,msg.value)">
        <input type="button" value="Annuler" class="btn btn-danger" (click)="onReset(commentaireForm)">
        
    </form>
</div>
</body>
        