<div class="card-header">
    <h1 >Activitée numéro {{activite.id}}</h1>
  </div>
  <div class="card-body">
    <h2 >{{activite.titre }}</h2>
    <img [src]="activite.image" alt="{{activite.titre}}"><br>
  </div> 
<div class="card-footer" >            
  <div  class="bg bg-dark text-white rounded-pill">Date de l'activitée: {{activite.date|date:'dd-MM-yyyy'}}</div>
</div> 
<button class="badge rounded-pill" [ngClass]="activite.disponible?'bg bg-primary':'bg bg-warning'"> <a class="text-white nav-link" [routerLink]="['/details',activite.id]">Details</a> </button>
<button id="likebtn" class="badge rounded-pill btn btn-danger" (click)="aimer(activite)"> j'aime {{activite.nblikes}} <i class="fa-regular fa-heart"></i></button>

<button class="badge rounded-pill btn btn-success "><a class="text-white nav-link" [routerLink]="['/addcomment',activite.id]">Ajouter un commentaire</a></button>
