<div class="image">
<h1  class="titre">Présentation du Club</h1>
<h1>Introduction à notre club</h1>
<p>

Le club d'environnement est une organisation ou une communauté engagée dans la promotion et la sensibilisation aux questions environnementales. Il vise à développer les capacités individuelles et collectives pour promouvoir les valeurs fondamentales de respect de la vie,
 de complémentarité , de sauvegarde de l'environnement, et de durabilité du développement,
 à la fois au niveau national et international. Les objectifs opérationnels d'un club d'environnement comprennent la maîtrise des informations de base sur les systèmes de fonctionnement de la nature, 
 le développement de compétences opérationnelles à travers des expériences pratiques en éducation, communication et sensibilisation pour le développement durable, ainsi que la création d'une conscience collective et d'une vision de durabilité,
  inscrites dans une perspective humaine globale et une approche internationale, y compris la participation aux conventions internationales et aux activités mondiales liées à la préservation de notre planète.
</p>

<h1>Objectifs Généraux</h1>
<div class="objectifs-generaux">
  <p>Les clubs d’environnement visent à développer les capacités de l’individu pour respecter les valeurs comme :</p>
  <ul>
    <li>- Le respect de la vie</li>
    <li>- La complémentarité et égalité Homme-Femme</li>
    <li>- La sauvegarde de l'environnement</li>
    <li>- La durabilité du développement ; être citoyen national et international</li>
  </ul>
</div>

<h1>Objectifs Opérationnels</h1>
<div class="objectifs-operationnels">
  <ul>
    <li>Maîtriser les informations de base et connaître les systèmes de fonctionnement de la nature.</li>
    <li>Développer les capacités opérationnelles en utilisant les expériences pratiques dans l’éducation, la communication et la sensibilisation pour le développement durable.</li>
    <li>Créer une conscience collective et une vision de durabilité pour se positionner dans une vision humaine globale et une approche internationale (les conventions internationales, les activités mondiales…).</li>
  </ul>
</div>

<div class="contact">
  <h2>Rejoignez Nous !</h2><br>
  <div><a class="nav-link" href="mailto:aljaneelyes07@gmail.com"><i class="fa-regular fa-envelope"></i> Gmail</a><p> <a href="mailto:aljaneelyes07@gmail.com">aljaneelyes07</a> </p></div>
  <div><a class="nav-link" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> Facebook</a><p> <a href="https://www.facebook.com/">Aljane Ilyes</a> </p></div>
  <div><a class="nav-link" href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i> LinkeIn</a><p> <a href="https://www.linkedin.com/feed/">Elyes Aljane</a> </p></div>
</div>
</div>
