
<h1 class="list-group">Donner l'identifiant de l'activité à supprimer</h1>
<input class="form-control" type="text" placeholder="ID de l'activité à supprimer" #id>
<button class="btn btn-primary" (click)="onsupprimer(id.value)">Supprimer cette activite </button>

<!-- <div class="activity-card">
    <h2>Activité à Supprimer</h2>
    <input class="form-control" type="text" placeholder="ID de l'activité à supprimer" #id>
    <button class="delete-button" (click)="onsupprimer(id.value)">Supprimer</button>
  </div> -->
  